/* PropertyDetails.css */

.property-details-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.property-images {
  flex: 1;
}

.property-info {
  flex: 1;
  padding: 0 20px;
}

.property-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.property-specs {
  display: flex;
  margin-bottom: 10px;
}

.spec {
  margin-right: 20px;
}

.property-description {
  font-size: 16px;
  line-height: 1.5;
}

.property-details-card {
  margin: 20px;
}

.property-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.property-specs {
  margin-bottom: 10px;
}

.property-description {
  font-size: 16px;
  line-height: 1.5;
}

.property-image > img {
  cursor: pointer;
}

.preview-image {
  width: 450px;
  height: 375px;
  border-radius: 8px;
  object-fit: fill;
}

.actions {
  margin-top: 20px;
  text-align: center;
}

.details-bar {
  border-radius: 8px;
}

.info {
  display: flex;
  background-color: #eeeeee;
  padding: 1.5rem;
  margin: 1.5rem 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 4px;
  /* gap: 2rem; */
}

.info p {
  font-size: 15px !important;
}

.info p span,
.info p a {
  color: #666;
}

.details-title {
  font-size: 25px;
  color: #303030;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid #666;
}

.flex-div {
  margin: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  flex: 1 1 40rem;
  font-size: 16px;
  padding-top: 3px;
}

.box p {
  padding-bottom: 5px;
  padding-top: 5px;
  color: #666;
}

.box i {
  color: #da2c32;
  margin-right: 1.5rem;
}

.box p > CheckIcon {
  color: #da2c32;
}
